server:
  port: 8085
zuul:
  routes:
    product-service:
      path: /api/products/**
      serviceId: product-service
    store-service:
      path: /api/stores/**
      serviceId: store-service  
feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: basic